= custom_form_for @user do |f|
 
  %h2.center= t('register')
  
  = f.icon_field :email, placeholder: 'email', icon: 'email', type: 'email'
  = f.icon_field :username, placeholder: 'username', icon: 'user', data: { text: 'username (optional)' }
  = f.icon_field :password, placeholder: 'password', icon: 'lock', type: 'password'
  = f.icon_field :password_confirmation, placeholder: 'password confirmation', icon: 'lock', type: 'password'

  %section.input
    = link_to 'Already have an account?', login_form_users_path, remote: true
    = f.submit t('register'), class: 'button'
