= custom_form_for @user, html: { class: 'js-user-form new-user' } do |f|
 
  %h2.center= t('register')
  
  = f.icon_field :email, placeholder: 'email', icon: 'email', type: 'email_field'
  = f.icon_field :username, placeholder: 'username', icon: 'user', data: { text: 'username (optional)' }, type: 'text_field'
  = f.icon_field :password, placeholder: 'password', icon: 'lock', type: 'password_field'
  = f.icon_field :password_confirmation, placeholder: 'password confirmation', icon: 'lock', type: 'password_field'
  - link = capture do
    = link_to 'Already have an account?', login_form_users_path, remote: true
 
  = f.submit_button(t('register'), icon: 'save', link: link)


