%h1= t('user.polls')

- unless @current_user.created_polls.empty?
  %section.created-polls
    %h3= t('user.created_polls')
    %section.polls
      = render @created_polls 
      = paginate @created_polls, param_name: 'created_polls_page'

- unless @current_user.polls.empty?
  %section.voted-polls
    %h3= t('user.voted_polls')
    %section.polls
      = render @polls, list: true
      = paginate @polls, param_name: 'polls_page'

= content_for :javascript do
  = javascript_include_tag 'poll/listing' 
