%section.outer-container

  = render 'header'

  %section.user-data
    %p.summary
      = "You have created #{link_to "#{@current_user.created_polls.count} #{conditional_length(@current_user.created_polls.count, 'poll')}", polls_user_path(@current_user)} and voted #{link_to "#{@current_user.votes.count} #{conditional_length(@current_user.votes.count, 'time')}", votes_user_path(@current_user)}.".html_safe

    %ul
      %li.active
        %i.icon-poll
        = link_to 'View polls', polls_user_path(@current_user), remote: true, class: 'js-user-polls'

      %li
        %i.icon-tag
        = link_to 'View votes', votes_user_path(@current_user), remote: true, class: 'js-user-votes'

    %aside.info-container
      = render 'polls'

= content_for :javascript do
  = javascript_include_tag 'poll/listing'
