%h1= t('user.polls')

- unless @created_polls.empty?
  %section.created-polls
    %h3= t('user.created_polls')
    %section.polls
      = render @created_polls, tools: true
    = paginate @created_polls, param_name: :created_page

- unless @polls.empty?
  %section.voted-polls
    %h3= t('user.voted_polls')
    %section.polls
      = render @polls
    = paginate @polls, param_name: :polls_page
