%h1= @current_user.name

- unless @created_polls.empty?
  %section.created-polls
    %h3= t('user.polls')
    %section.polls
      = render 'polls', polls: @created_polls, tools: true

- unless @polls.empty?
  %section.voted-polls
    %h3= t('user.votes')
    %section.polls
      = render 'polls', polls: @polls, show_vote: true

= content_for :javascript do
  = javascript_include_tag 'poll/listing'
