%h1= t('user.polls')

.notice.transition
  %p

- unless @created_polls.empty?
  %section.created-polls
    %h3= t('user.created_polls')
    %section.polls
      = render @created_polls 
    = paginate @created_polls, params: { action: 'created_polls' }

- unless @polls.empty?
  %section.voted-polls
    %h3= t('user.voted_polls')
    %section.polls
      = render @polls, list: true
    = paginate @polls, params: { action: 'polls' }

= content_for :javascript do
  = javascript_include_tag 'poll/listing' 
