%section#user

  %section.user-header
    %i.icon-user.icon-big.avatar  
    %h3= @current_user.username || @current_user.email

    %aside.tools
      = icon_link(edit_user_path(@current_user), 'pencil', title: 'Edit profile')
  
  %section.summary
    %p
      = "You have created #{link_to "#{@current_user.created_polls.count} polls", user_polls_path(@current_user)} and voted #{link_to "#{@current_user.votes.count} #{conditional_length(@current_user.votes.count, 'time')}", user_votes_path(@current_user)}.".html_safe

  %hr

  %secion.user-data
-#- unless @created_polls.empty?
  -#%section.created-polls
    -#%h3= t('user.polls')
    -#%section.polls
      -#= render 'polls', polls: @created_polls, tools: true

-#- unless @polls.empty?
  -#%section.voted-polls
    -#%h3= t('user.votes')
    -#%section.polls
      -#= render 'polls', polls: @polls, show_vote: true

-#= content_for :javascript do
  -#= javascript_include_tag 'poll/listing'
