%section.poll{ data: { id: poll.to_param } }
  %section.poll-meta
    = link_to poll do
      %i.icon-poll
      %h3= poll.name
    %aside
      = icon_link edit_poll_path(poll), 'pencil', title: 'Edit poll'
      = icon_link poll, 'trash', title: 'Delete poll', method: :delete, class: 'delete-poll'

  %section.poll-info
  
    %section
      %i.icon-clock(title="Created at")
      %span= poll.created_at.strftime("%B #{poll.created_at.day.ordinalize} %Y")

    %section
      %i.icon-tag(title="Votes")
      %span= poll.votes.count
  
  = link_to 'Show chart', '#', class: 'js-show-chart' 
  %section.canvas-container.hidden
    %canvas
