= poll_title edit: true

.notice.transition.hidden.collapsable
  %p

%section.edit-poll

  %section.poll-info
    %h2= t('poll.information')
    %section.user
      %i.icon-user
      %span= @current_user.name
    
    %section.guest
      = render 'form'

  = render 'options/index'
  = render 'options/form', option: @poll.options.build
  
  %hr
  = render 'partials/poll_tools', poll: @poll

= content_for :javascript do
  = javascript_include_tag 'poll/editor'
