%section.user-header
  %i.icon-poll.icon-big 
  %h2= @poll.name

%section.poll-form
  = render 'form'
  
  %h3= t('options')
  %section.options
    = render @poll.options unless @poll.options.empty?
  
  = render 'options/form', option: @poll.options.build
  
  %hr
  = render 'partials/poll_tools', poll: @poll

= content_for :javascript do
  = javascript_include_tag 'poll/editor'
