= poll_title

%section.edit-poll
  %section
    %i.fa.fa-user.fa-2x
    %span= @current_user.name

  = render 'options/index'
  
  = render 'options/form', option: @poll.options.build
  
  = render 'partials/poll_tools'

= content_for :javascript do
  = javascript_include_tag 'poll/editor'
