= poll_title edit: true

.notice.transition
  %p

%section.edit-poll

  %section
    %i.icon-user
    %span= @current_user.name

  = render 'form'
  = render 'options/index'
  = render 'options/form', option: @poll.options.build
  
  %hr
  = render 'partials/poll_tools', poll: @poll

= content_for :javascript do
  = javascript_include_tag 'poll/editor'
