= poll_title

%section#edit-poll
  %section.meta
    %h2
      options
    = link_to new_poll_option_path(@poll),  id: 'add-option', remote: true do
      %i.fa.fa-plus.fa-2x{title: 'Add new option'}
  %section#options
    - @poll.options.reverse.each do |option|
      = render option

= button_link t('poll.view'), @poll, 'check', 'green'
= button_link t('poll.delete'), @poll, 'trash', 'red', method: :delete
- if @poll.closed?
  = button_link t('poll.open'), @poll, 'key'
- else
  = button_link t('poll.close'), @poll, 'gavel'
