%section.welcome
  %h1.focus= t('welcome') 

  = form_for @poll do |f|
    - unless @poll.errors.empty?
      .notice.error
        %p= @poll.errors.map { |attr, msg| "#{msg}".html_safe }.first
    = f.text_field :name, placeholder: 'Poll name'

