= poll_title

%section#poll{ data: { id: @poll.to_param } }
  %section.graph
    - if @poll.secret?
      = render 'secret'
    - else
      = render 'graph'

= render 'options'

- if @poll.owned_by?(@current_user)
  %hr
  = render 'partials/poll_tools', poll: @poll

= content_for :javascript do
  = javascript_include_tag 'poll/voter'
