%section.user-header

  %i.icon-poll.icon-big 
  %h2= @poll.name

  = render 'tools' 

%section.poll-container{ data: { id: @poll.to_param }, class: "#{'closed' if @poll.closed? }" }

  - if @poll.closed?
    %section.poll-result
      .notice
        %p= t('poll.closed')

  - if @poll.secret? && !@poll.closed?
    .notice
      %p= t('poll.is_secret')
  - else
    %section.canvas-container
      - if @poll.votes.empty?
        .notice.no-votes
          %p= t('poll.no_votes')
      %canvas#poll{ class: "#{'hidden' if (@poll.votes.empty?)}" }
    
  %section.options
    - if @poll.options.empty?
      .notice
        %p= t('poll.no_options')
    - else
      = render 'options'

= content_for :javascript do
  = javascript_include_tag 'poll/voter'
