= poll_title

%section#poll{ data: { id: @poll.to_param } }
  - if @poll.closed?
    .notice.closed
      %p= t('poll.closed')
  
  %section.graph
    - if @poll.secret?
      = render 'secret'
    - else
      = render 'graph'

%section.vote-action
  - if @poll.options.empty?
    .notice
      %p= t('poll.no_options')
  - else
    = render 'options'

- if @poll.owned_by?(@current_user)
  %hr
  = render 'partials/poll_tools', poll: @poll

= content_for :javascript do
  = javascript_include_tag 'poll/voter'
