!!!
%html
  %head
    %title Ballot
    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
  %body
    %header
      = render 'partials/header'
    
    %section.main
      = render 'partials/flash' if flash[:notice]
      = yield
    
    = javascript_include_tag 'application'
    = yield :javascript 
