!!!
%html
  %head
    %title Ballot
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
  %body
    %header
      = render 'partials/header'
    %section#main
      = yield
    
    = javascript_include_tag 'application'
    = yield :javascript
