!!!
%html
  %head
    %title Poll
    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Source+Sans+Pro'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %header
      - if current_user.nil?
        %p You need to log in to be able to vote.
        %a.login{ alt: 'Log in' }
          %i.fa.fa-rocket.fa-2x
      - else
        %p
          %i.fa.fa-google-plus-square.fa-2x.green
          %span= @current_user.email
    %section#main
      :javascript
        $(document).ready( function() {
          window.app = new App($('#main'))
        });
      = yield
