!!!
%html
  %head
    %title Poll
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Source+Sans+Pro'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %header
      - if current_user.nil?
        %a.login log in, bruv
      - else
        %h3= current_user.email
    %section#main
      :javascript
        $(document).ready( function() {
          window.app = new App($('#main'))
        });
      = yield
